* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  padding: 30px 60px;
}

#app h2 {
  padding-left: 20px;
}

#app {
  display: flex;
}

#app .app_item {
  width: 50%;
}

li {
  padding: 4px 20px;
  list-style: none;
  color: #303133;
  font-size: 14px;
}

li a {
  color: #303133;
  text-decoration: none;
}

li:hover {
  color: #E6A23C;
}

li:hover a {
  color: #E6A23C;
}